# Rename this file to .env after modifying the settings below
# YOU MUST NOT push the production .env into version control!

BOT_ADMIN_PERMISSION=100

HTTPS_PRIVATE_KEY=path/to/privkey.pem
HTTPS_CERTIFICATE=path/to/fullchain.pem
ACCOUNT_CREDENTIAL=private/account.json

TRADER_URL=URL
TRADER_PORT=PORT

TRADER_REQUEST_TIMEOUT=150000