# Rename this file to .env after modifying the settings below
# YOU MUST NOT push the production .env into version control!

FB_ACCESS_TOKEN=YOUR_FB_ACESS_TOKEN
FB_VERIFY_TOKEN=YOUR_FB_VERIFY_TOKEN
FB_APP_SECRET=YOUR_FB_APP_SECRET
